{% include 'employeeheader.html' %}
<br><br><br><br><br>
<style type="text/css">
	table{
		border: 1px solid gray;
		width: 70%;
		padding: 10px;
		background-color:lightgrey;
	}
	tr{
		border: 1px solid white;
		padding: 10px;
	}
	th{
		border: 1px solid white;
		padding: 10px;
		text-align: center;
	}
	td{
		border: 1px solid white;
		padding: 10px;
	}

</style>
<body>
<h1 align="center" style="color:black;">Payment Status</h1>
<br><br>
	<form method="post">
		<center>
	<table align="Center">
		<tr>
          <th><font color="purple">Employee Name</font></th>
          <th><font color="purple">User Name</font></th>
          <th><font color="purple">No. Of Days</font></th>
          <th><font color="purple">Amount(Per Days)</font></th>
          <th><font color="purple">Total Amount</font></th>
          <th><font color="purple">Payment Date</font></th>
          <th><font color="purple">Payment Status</font></th>
		</tr>
		{% for row in data['pay'] %}
		<tr>
			<td>{{row['emp_name']}}</td>
			<td>{{row['NAME']}}</td>
            <td>{{row['no_days']}}</td>
			<td>{{row['amount']}}</td>
			<td>{{row['total_amount']}}</td>
            <td>{{row['payment_date']}}</td>
            <td>{{row['payment_status']}}</td>
		</tr>
		{% endfor %}
	</table>
</center>
</form>
</body>
<br><br>
<br><br><br><br>

{% include 'footer.html' %}