{% include 'employeeheader.html' %}
<br><br><br><br><br>
<style type="text/css">
	table{
		border: 1px solid gray;
		width: 70%;
		padding: 10px;
		background-color:lightgrey;
	}
	tr{
		border: 1px solid white;
		padding: 10px;
	}
	th{
		border: 1px solid white;
		padding: 10px;
		text-align: center;
	}
	td{
		border: 1px solid white;
		padding: 10px;
	}

</style>
<body>
<h1 align="center" style="color:black;">Reference Details</h1>
<br><br>
	<form method="post">
		<center>
	<table align="Center">
		<tr>
          <th><font color="purple">Employee Name</font></th>
          <th><font color="purple">Previous Company</font></th>
          <th><font color="purple">Current Experience</font></th>
          <th><font color="purple">Relevant Postion</font></th>
          <th><font color="purple">Job Location</font></th>
		</tr>
		{% for row in data['ref'] %}
		<tr>
			<td>{{row['emp_name']}}</td>
			<td>{{row['previous_company']}}</td>
			<td>{{row['current_exp']}}</td>
			<td>{{row['relevant_position']}}</td>
			<td>{{row['job_location']}}</td>
          <td><a href="?action=delete&id={{row['ref_id']}}"class="btn btn-primary">Remove Reference</td>
		</tr>
		{% endfor %}
	</table>
</center>
</form>
</body>

<br><br>
<br><br><br><br>

{% include 'footer.html' %}