{% include 'userheader.html' %}
<br><br><br><br><br>
<style type="text/css">
	table{
		border: 1px solid gray;
		width: 70%;
		padding: 10px;
		background-color:lightgrey;
	}
	tr{
		border: 1px solid white;
		padding: 10px;
	}
	th{
		border: 1px solid white;
		padding: 10px;
		text-align: center;
	}
	td{
		border: 1px solid white;
		padding: 10px;
	}

</style>
<body>
<h1 align="center" style="color:black;">Work Status</h1>
<br><br>
	<form method="post">
		<center>
	<table align="Center">
		<tr>
          <th><font color="purple">Employee Name</font></th>
          <th><font color="purple">Work Description</font></th>
          <th><font color="purple">Start Date</font></th>
          <th><font color="purple">End Date</font></th>
          <th><font color="purple">Work Location</font></th>
          <th><font color="purple">Work Status</font></th>
		</tr>
		{% for row in data['wo'] %}
		<tr>
			<td>{{row['emp_name']}}</td>
			<td>{{row['work_des']}}</td>
            <td>{{row['start_date']}}</td>
			<td>{{row['end_date']}}</td>
			<td>{{row['work_location']}}</td>
            <td>{{row['work_status']}}</td>
          <td><a href="?action=delete&id={{row['work_id']}}" class="btn btn-primary">Cancel Work</td>

		</tr>
		{% endfor %}
	</table>
</center>
</form>
</body>
<br><br>
<br><br><br><br>

{% include 'footer.html' %}